body{
    background-color: rgb(172, 172, 220);
}
#main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#display{
    background-color: rgb(29, 41, 71);
    color: aliceblue;
    border: solid 2px rgb(29, 41, 71);;
    min-height: 8vh;
    min-width: 26vw;
    border-radius: 10px;
    margin: 10px;
    font-size: 30px;
    text-align: right;
    padding-top: 4vh;
    padding-right: 2vw;
}
#inputs{
    border: solid 2px rgb(44, 60, 97);
     border-radius: 10px;
    margin: 10px;
}
.row{
    background-color: rgb(44, 60, 97);
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2vh 2vh;
    min-height: 40vh;
    min-width: 10vw;
    justify-content: center;
    align-content: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vh;
    padding-right: 5vh;
}
.below1{
    grid-column-start: 1;
    grid-column-end: 3;
}
.below2{
    grid-column-start: 3;
    grid-column-end: 5;
}
.digit{
  cursor: pointer;
    background-color: aliceblue;
    border: solid rgb(44, 60, 97) 2px;
    min-width: 5vw;
    min-height: 5vh;
    border-radius: 10px;
    text-align: center;
    padding-top: 2vh;
    font-size: 30px;
}
.del{
    color: aliceblue;
    background-color: rgb(94, 92, 192);
    border: solid rgb(94, 92, 192) 2px;
    min-width: 5vw;
    min-height: 5vh;
    border-radius: 10px;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 23px;
    cursor: pointer;
}
.below1,.below2{
    color: aliceblue;
    background-color: rgb(94, 92, 192);
    border: solid rgb(94, 92, 192) 2px;
    min-width: 5vw;
    min-height: 5vh;
    border-radius: 10px;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 23px;
    cursor: pointer;
}
.below2{
    background-color: rgb(210, 71, 71);
    border: solid rgb(210, 71, 71) 2px;
    color: aliceblue;
}
.digit:hover {background-color: #6c55aa}

button:active {
  background-color: #898bbf;
  box-shadow: 0 5px #236758;
  transform: translateX(4px);
}

.below1:hover {background-color: #6c55aa}
.del:hover {background-color: #6c55aa}
.below2:hover {background-color: #c42f2f}

